.wrapperCart {
  display: flex;
  align-items: center;
  height: 25vw;
  width: 45%;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.textTitleCart {
  font-size: 3vw;
  margin-bottom: 4vw;
  color: #474747;
}

.imgCart {
  height: 100%;
  width: 50%;
}


.productInfoCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.productTexCart {
  width: 100%;
}

.productTexCart .productH3Cart {
  margin: 0 0 0 0;
  padding-top: 4vw;
  font-size: 3vw;
  color: #474747;
}

.productTexCart .productH3Cart,
.product-price-btn-cart .textoCart {
  font-family: 'Barlow', sans-serif;
}

.productTexCart .productH4Cart {
  margin: 0 0 4vw 0;
  font-size: 1.2vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
  padding-bottom: 2vw;
}

.productTexCart .textoCart {
  margin: 0 0 0 0;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 1.3vw;
  font-weight: lighter;
  overflow: hidden;
  padding-bottom: 1vw;
}

.product-price-btn-cart {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1vw;
}


.noselect {
  width: 12vw;
  height: 4vw;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: #e62222;
  color: #fff;
  font-size: 1.5vw;
}


.CheckOut-btn {
  width: 12vw;
  height: 5vw;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  background: #474747;
  color: #fff;
  font-size: 1.5vw;
}