.wrapperCart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.productImgCart {
  margin: 20 auto;
  overflow: hidden;
  height: 420px;
  width: 327px;
}

.productImgCart {
  border-radius: 7px 0 0 7px;
}

.productInfoCart {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.productTexCart {
  height: 300px;
  width: 327px;
}

.productTexCart .productH3Cart {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.productTexCart .productH3Cart,
.product-price-btn-cart .textoCart {
  font-family: 'Bentham', serif;
}

.productTexCart .productH4Cart {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.productTexCart .textoCart {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.productTexCart .price1 {
  height: 125px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn-cart {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 0 0 38px;
}

.product-price-btn-cart .price1 {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.price-span1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.noselect {
	width: 60px;
	height: 60px;
	cursor: pointer;
  display: inline-flex;
	align-items: center;
  justify-content: center;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: #e62222;
  color: #fff;
}


